
.body{
background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(34,34,34,1) 77%, rgba(85,85,85,1) 100%);
font-family:Iceland;

box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
  :host {
  font-family: Iceland;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  font-family: Iceland;
  }
  p{  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}
  a{  font-family: Iceland;}
span{  font-family: Iceland;}
.nombre{
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
}
.htcsjs{
  height:80px;
}
.boutme{
  color:white;
  text-align: center;
  font-family: Iceland;
  font-size: 1.5em;
}
.skills{
  color:white;
  text-align: center;
  font-family: Iceland;
  font-size: 1.5em;
}
  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:rgba(70, 68, 68, 0.72);
    color: white;
    font-size: 25px;
    z-index:9;
  }
  .logo_p{
    z-index:999;
    margin: 25px 16px;
    width: 60px;
  }
  .instaEd{
    margin: 25px 16px;
    width: 30px;
  }
  .instaEd :hover{  opacity: 0.1;}
  .logo_p :hover {
    opacity: 0.8;}



  .toolbar img :hover {
    opacity: 0.8;}




  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .collapsed {
      display: none; /* hide it for small displays */
  }
  @media (min-width: 992px) {
      .collapsed {
          display: block;
          margin-left: -25%; /* same width as sidebar */
      }
  }
  #row-main {
    overflow-x: hidden; /* necessary to hide collapsed sidebar */
}
#content {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
#sidebar {
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}
  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card  {
    border-radius: 0px;
    border: 2px solid #fff;
    background-color: #0000006e;
    height: 80px;
    width: 80px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .card :hover {
    opacity: 0.8;}

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
    font-size: 25px;
    font-family: Iceland !important;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: rgba(255, 255, 255, 0.52);
    color: white;
    font-weight: 600;
    border: 2px solid #f000;
    border-color: black;
    width: auto;
    min-width: 30%;
    position: relative;
    text-align: center;
  }

  .card.card.highlight-card span {
    margin-left: 0px;
  }





  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }




.wpp{
  height:40px;
}
.wplogo {
  height:40px;
}
.njslogo{
  height:40px;
}
.dplogo{
  height:100px;
}
.nglogo {
  height:40px;
}
.phplogo{

  height:40px;
}
.mdblogo{
    height:40px;
}
.cslogo{
  height: 50px;
}
.jvlogo{
  height:50px;
}
.gitDiv{
  position: relative;
  margin-left: auto;
margin-right: 30px;
margin-bottom: 300px;
}
.gitP{
  color:white;
  text-align: center;
  font-family: Iceland;
  font-size: 1.5em;
}
body{
  margin: 0;

}
.loader-wrap{
  background: #333 url("data:image/gif;base64,R0lGODlhQABAAJEAABoaGhMTEyoqKh8fHyH5BAAAAAAALAAAAABAAEAAAAL/VBCGmtfrmIwU2ofZQGAf33HgKJafGZ5qyl6TW2XxK8PQSuJozvL+DqAJZ0Rb7agB6pY9ZZMJMg6lRWTVAHX+stzm1EoNgzHbp7mMdoq/7Ku7m4Zrge21236Jn+dyJn5cB0jRt0eotxGYeCeIcMhXCMnzpzhJZPjomEXJyPmVGYn5WDnaOQh6ieq1uMka8/kaukLaWpkKe0lbSnp72iupC9xqG+tbknu8yKssGrzqDDMcDYo8m0y8TFitLSiNvUfdLOY9jrINPtR9HXr+zEmeLhsu3wZfLMdu7qpeX5bvL8Nv37d2+Ma8swfpX0EsCA/+WEiwikOBvyDmCxjQ4jwHCxPrKYxIBWNDIAUAADs=");
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 99999;
}
.loader{
	font-size: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 120px;
	height: 20px;
}
.loader:after{
	color: rgba(0,183,229,0.9);
	content: "Loading...";
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	position: absolute;
	width: 120px;
	top: 40px;
	left: 5px;
	text-align: center;
}
[class*='box-']{
	display: inline-block;
	font-size: 15px;
	line-height: 20px;
	margin-right: 5px;
	height: 20px;
	width: 20px;
	border: 5px solid rgba(0,183,229,0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	box-shadow: 0 0 10px #2187e7;
	border-radius: 50%;
	transform: scale(0.7);
	animation: loader 1s infinite linear;
}
[class*='box-']:last-child{
	margin-right: 0;
}
.box-1{
	animation-delay: .4s;
}
.box-2{
	animation-delay: .3s;
}
.box-3{
	animation-delay: .2s;
}
.box-4{
	animation-delay: .3s;
}
.box-5{
	animation-delay: .4s;
}
@keyframes loader{
    0% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(0.7) rotate(10deg);
        opacity: 0.1;
    }
}
