.d1{
  animation-duration: 0.2s;
  animation-delay: 2s;
  animation-iteration-count: 5;
  text-align: center;
  position: relative;
  color: white}
.d2 {
  animation-duration: 0.2s;
  animation-delay: 4s;
  animation-iteration-count: 5;
  text-align: center;
  position: relative;
  color: white}

.d3 {
  animation-duration: 0.2s;
  animation-delay: 6s;
  animation-iteration-count: 5;
  text-align: center;
  position: relative;
  color: white}

.d4 {
  animation-duration: 0.2s;
  animation-delay: 8s;
  animation-iteration-count: 5;
  text-align: center;
  position: relative;
  color: white}
.pp{
  font-size: 19px;
}

button{
  width:150px;
  height:35px;
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0px;
  position:relative;
  align-content: center;
  background-color: rgba(102, 21, 21, 0.22);
  font-family: Iceland;
  font-size:3em;

}
.toggabre{

  margin-bottom: 0px;
position: relative;
bottom: 20px;
color: white
}
.gradient{
  background-color: rgba(102, 21, 21, 0.22);
}
.background{
  background-color: white;
}
