
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<!---<button (click)="mostrar()"><i class="toggabre material-icons">dehaze</i></button>
<div [@clicMuestra]="estado" class="let">
  <h1 class="desarrollo"> Desarrollo de Aplicaciones Web</h1>
  <h1 class="desarrollo"> Inglés Fluído</h1>
  <h1 class="desarrollo"> Especialista en Seguridad Eléctrónica</h1>
  <h1 class="desarrollo"> Servicio Técnico de Computadoras Hardware y Software</h1>
  </div>
  <div [@clicMuestra]="estado" class="tablas">
    <div class="container">
            <div style="height: 350px; width:90%; position:absolute;"></div>
        </div>
    </div>---><!----
    <button (click)="mostrar2()"><i class="toggabre material-icons">dehaze</i></button>
    <div class="container">
      <h1 [@flyInOut]="st" (@flyInOut.done)="animationDone($event)"  class="let">WELCOME</h1>
    </div>
    <div [@flyInOut]="isDivIn"  class="background">  <div class="gradient">
        <div class="container">
            <div style="height: 350px;"></div>
        </div>
      </div>
    </div>
-->
<div class="tablas">
<h1 class="pp d1 animated flash"> Desarrollo de Aplicaciones Web</h1>
<h1 class="pp d2 animated flash"> Inglés Fluído</h1>
<h1 class="pp d3 animated flash"> Especialista en Seguridad Eléctrónica</h1>
<h1 class="pp d4 animated flash"> Servicio Técnico de Computadoras Hardware y Software</h1>
</div>
